
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
	height: 100%;
}
#panel {
	width: 400px;
	float: left;
	height: 100%;
	background: rgba(255,255,255,0.9);
	z-index: 1;
	overflow: scroll;
}
.searchbox-container {

}
.searchbox-handle {
	position: absolute;
	left: 0;
}
.searchbox {
	position: relative;
	width: auto;
	margin: 0;
	outline: none;
	padding: 8px 20px 2px 20px;
}
.searchbox-menu {
	position: absolute;
	right: 0;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}