<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="Rehabus, HKSR">
	<meta name="description" content="The hong kong society for rehab shared route fee calculator">

	<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

	<!-- Google Map Api -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0VpncNMqoubUsS8ed6qNNVYPfg8ZWDuI&libraries=visualization,places&region=HK">
	</script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script><!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- firebase -->
	<script src="https://www.gstatic.com/firebasejs/4.0.0/firebase.js"></script>
	<script>
	  // Initialize Firebase
	  var config = {
	  	apiKey: "AIzaSyDSQMvii71BdGgTI3MjstW74e_aG1rW6m4",
	  	authDomain: "rehab-sharedroute.firebaseapp.com",
	  	databaseURL: "https://rehab-sharedroute.firebaseio.com",
	  	projectId: "rehab-sharedroute",
	  	storageBucket: "rehab-sharedroute.appspot.com",
	  	messagingSenderId: "80612275505"
	  };
	  firebase.initializeApp(config);
	</script>

	<script src="app.js?version=1"></script>
	<script src="responsive.js?version=1"></script>
	<link rel="stylesheet" href="app.css">
</head>
<body ng-app="app" ng-controller="AppController" ng-init="init()">
	<div id="panel">
		<div id="title-bar">
			<form action="/" method="get">
				<div class="input-group">
					<span class="input-group-addon">行程編號</span>
					<input type="text" size="35" value="{{data.routeId}}" name="routeId" class="form-control" placeholder="行程編號">
					<span class="input-group-addon"><input type="submit" class="btn-default" value="查詢"></span>
				</div>
			</form>
			<!-- Button trigger modal -->
			<!-- 
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#routesControlModal">
				
				</button>
			-->
		</div>

		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#searchboxes" aria-controls="searchboxes" role="tab" data-toggle="tab"><span class="mobile-hide">設定行程</span><span class="mobile-show">行程</span></a></li>
			<li role="presentation"><a href="#routes" aria-controls="routes" role="tab" data-toggle="tab"><span class="mobile-hide">收費詳情</span><span class="mobile-show">收費</span></a></li>
			<li id="map-tab" class="mobile-hide" role="presentation"><a href="#map-tab-content" aria-controls="map-tab-content" role="tab" data-toggle="tab">地圖</a></li>
			<li id="map-tab" role="presentation">
				<button class="btn-danger" ng-click="reset()" style="margin:10px"><span class="mobile-hide">重設行程</span><span class="mobile-show">重設</span></button></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="searchboxes" style="padding-bottom: 200px;height: 1200px;">
					<!-- stop list -->
					<div class="searchbox-container" ng-repeat="(stop_no, stop) in data.stops">
						<!-- stop info -->
						<div ng-if="!stop.isEditing">
							<div class="searchbox-handle">
								<div class="handle">
									{{stop_no+1}}
								</div>
							</div>
							<div class="searchbox">
								<div>
									<span class="address-label">
										{{stop.formatted_address}}, {{stop.name}}
										<span class="glyphicon glyphicon-search img-btn mobile-hide" ng-click="map.setCenter(stop.location)"></span>
									</span>
									<span class="searchbox-menu">
										<span class="glyphicon glyphicon-pencil img-btn" ng-click="editStop(stop, stop_no)"></span>
									</span>
								</div>
								<div class="list-group">
									<div ng-if="(data.customers | filter: {pick:stop_no}).length"> <span class="glyphicon glyphicon-export"></span> 上車: 
										<span ng-repeat="customer in data.customers | filter: {pick:stop_no}"> 
											<span class="customer-label">{{customer.name}}</span>
										</span>
									</div>
									<div ng-if="(data.customers | filter: {drop:stop_no}).length"> <span class="glyphicon glyphicon-import"></span>  下車: 
										<span ng-repeat="customer in data.customers | filter: {drop:stop_no}">
											<span class="customer-label color-warning">{{customer.name}}</span>
											<!--(預算*:${{customer.totalFee.toFixed(1)}})-->
										</span>
									</div>
								</div>
							</div>
						</div>
						<!-- stop info edit -->
						<div ng-if="stop.isEditing">
							<div class="searchbox-handle">
								<div class="handle">
									{{stop_no+1}}
								</div>
							</div>
							<div class="searchbox">
								<!--<button class="btn btn-primary" ng-click="removeStop(stop_no)"> X </button> -->
								<input type="text" autocomplete-input stop="stop" ng-model="stop._input_address" style="width: 70%;">
								<span class="searchbox-menu">
									<button class="btn-primary" ng-click="editStop(stop, stop_no)"> 確定 </button>
								</span>

								<div class="list-group" style="width: 300px; padding: 0 0 0 30px;">
									<div class="input-group customer-input" ng-repeat="customer in data.customers" ng-if="customer.pick==stop_no || customer.pick==null"> 
										<span class="input-group-addon" ng-click="customer._pick==stop_no ? customer._pick=null : customer._pick=stop_no;" ng-class="customer._pick==stop_no ? 'active' : '';">
											<input type="checkbox" aria-label="..." ng-checked="customer._pick==stop_no"> <span class="glyphicon glyphicon-export"></span> 上車: 
										</span>
										<input type="text" class="form-control" ng-model="customer.name" size="10">
										<span class="input-group-addon">
											<button class="delete-btn" ng-click="removeCustomer(customer);"> <span class="glyphicon glyphicon-trash"></span> </button>
										</span>
									</div>
									<div class="input-group customer-input" ng-repeat="customer in data.customers" ng-if="customer.drop==stop_no || (customer.pick !=null && customer.drop==null && stop_no > customer.pick)">
										<span class="input-group-addon" ng-click="customer._drop==stop_no ? customer._drop=null : customer._drop=stop_no;" ng-class="customer._drop==stop_no ? 'active' : '';">
											<input type="checkbox" aria-label="..." ng-checked="customer._drop==stop_no"> <span class="glyphicon glyphicon-import"></span> 下車: 
										</span>
										<input type="text" class="form-control" ng-model="customer.name" size="10">
										<span class="input-group-addon">
											<button class="delete-btn" ng-click="removeCustomer(customer);"> <span class="glyphicon glyphicon-trash"></span> </button>
										</span>
									</div>
									<button class="btn btn-info" style="width: 100%; margin: 2px 0px;" ng-click="addCustomer();"> + 新增乘客</button>
								</div>
								<!-- {{stop}} -->
							</div>
						</div>
					</div>
					<!-- end of stop list -->

					<!-- stop to be added -->
					<div class="searchbox-container searchbox-newstop">
						<table class="searchbox">
							<tr>
								<td class="searchbox-title mobile-hide"><span>請輸入目的地</span></td>
								<td class="searchbox-input"><input type="text" autocomplete-input stop="data.new_stop" ng-model="data.new_stop._input_address" placeholder="選擇目的地或點擊地圖…"></td>
								<td class="searchbox-btn"><button class="btn btn-default" ng-click="addStop()"> 確定 </button></td>
							</tr>
							<tr ng-if="data.new_stop._place">
								<td class="searchbox-title mobile-hide"><span>選擇上落乘客</span></td>
								<td colspan="2">
									<div class="list-group">
										<div class="input-group customer-input" ng-repeat="customer in data.customers" ng-if="customer.pick==null"> 
											<span class="input-group-addon" ng-click="customer._pick==data.stops.length?customer._pick=null:customer._pick=data.stops.length;" ng-class="customer._pick==data.stops.length?'active':''">
												<input type="checkbox" aria-label="..." ng-checked="customer._pick==data.stops.length">  <span class="glyphicon glyphicon-export"></span> 上車: 
											</span>
											<input type="text" class="form-control" ng-model="customer.name" size="10">
											<span class="input-group-addon">
												<button class="delete-btn" ng-click="removeCustomer(customer);"> <span class="glyphicon glyphicon-trash"></span> </button>
											</span>
										</div>
										<div class="input-group customer-input" ng-repeat="customer in data.customers" ng-if="customer.pick!=null && customer.drop==null">
											<span class="input-group-addon" ng-click="customer._drop==data.stops.length?customer._drop=null:customer._drop=data.stops.length;" ng-class="customer._drop==data.stops.length?'active':''">
												<input type="checkbox" aria-label="..." ng-checked="customer._drop==data.stops.length">  <span class="glyphicon glyphicon-import"></span> 下車: 
											</span>
											<input type="text" class="form-control" ng-model="customer.name" size="10">
											<span class="input-group-addon">
												<button class="delete-btn" ng-click="removeCustomer(customer);"> <span class="glyphicon glyphicon-trash"></span> </button>
											</span>
										</div>
										<button class="btn btn-info" style="width: 100%; margin: 2px 0px;" ng-click="addCustomer();"> + 新增乘客</button>
									</div>
								</td>
							</tr>
						</table>
					</div>
					<!-- end of stop to be added -->
				</div>

				<div role="tabpanel" class="tab-pane" id="routes" style="padding: 20px;height: 1200px;">
					<table id="result">
						<tr>
							<th class="mobile-hide"><span class="glyphicon glyphicon-user"></span> 乘客</th>
							<th><span class="glyphicon glyphicon-road"></span> 行程</th>
							<th><span class="glyphicon glyphicon-tag"></span> 預計收費</th>
						</tr>
						<tr ng-repeat="customer in data.customers">
							<td class="customer-col mobile-hide">{{customer.name}}</td>
							<td class="route-col"> 
								<div class="mobile-show">{{customer.name}}</div>
								<span style="float: left; padding: 5px 0;">由</span> 
								<span class="address-label" ng-if="customer.pick != null">
									{{customer.pick+1+'. '}}
									{{data.stops[customer.pick].formatted_address}}, {{data.stops[customer.pick].name}} 
									<span class="glyphicon glyphicon-search img-btn mobile-hide" ng-click="map.setCenter(data.stops[customer.pick].location)"></span>
								</span>
								<br><span style="float: left; padding: 5px 0;">去</span> 
								<span class="address-label" ng-if="customer.drop != null">
									{{customer.drop+1+'. '}}
									{{data.stops[customer.drop].formatted_address}}, {{data.stops[customer.drop].name}} 
									<span class="glyphicon glyphicon-search img-btn mobile-hide" ng-click="map.setCenter(data.stops[customer.drop].location)"></span>
								</span> 
								<br>
								<span ng-if="customer.totalFee">
									預計行程 {{(customer.totalDistance/1000).toFixed(1)}}公里, 時間{{(customer.totalDuration/60+1).toFixed(0)}}分鐘 (交通順暢時)
								</span>
							</td>
							<td class="fee-col">
								<span ng-if="customer.totalFee">
									${{config.initFee.toFixed(1)}} (1) 
									<br>${{customer.distanceFee.toFixed(1)}} (2) 
									<br>${{config.adminFee.toFixed(1)}} (3) 
									<span ng-if="customer.durationFee"><br>${{customer.durationFee.toFixed(1)}} (4) </span>
									<span ng-if="data.customers.length > 1"><br>-${{customer.sharedDiscount.toFixed(1)}} (5) </span>
									<hr style="margin:0"/>
									${{customer.totalFee.toFixed(1)}} (+)
									<br>(不包隧道費)
								</span>
								<span ng-if="!customer.totalFee">
									未有行程
								</span>
							</td>
						</tr>
					</table>
					<div class="remark"> 注: 
						<span> (1)=起錶收費, </span>
						<span> (2)=路費(每公里${{config.distanceFee}}), </span>
						<span> (3)=電召服務費, </span>
						<span> (4)=付加費(1小時起計), </span>
						<span> (5)=共用車折扣({{config.sharedDiscount*10}}折), </span>
					</div>
				</div>

				<div role="tabpanel" class="tab-pane" id="map-tab-content">
				</div>
			</div>

		</div>

		<!-- Google Map -->
		<div id="map"></div>
		<!-- Google Map -->

		<!-- Modal -->
		<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
			<div class="modal-dialog modal-sm" role="document">
				<div class="modal-content">
					<div class="modal-header" ng-if="modal.header">
						{{modal.header}}
					</div>
					<div class="modal-body">
						{{modal.body}}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
						<button type="button" class="btn btn-primary" ng-click="modal.callback()" ng-if="modal.callback != null">確定</button>
					</div>
				</div>
			</div>
		</div>

	</body>
	</html>